.delete{
    width: 50%;
    background-color: rgba(255, 0, 0, 0.596);
}

.update{
    width: 50%;
    background-color: rgb(255, 230, 0);
}

.add{
    width: 100%;
    background-color: rgb(1, 255, 1);
}

#title{
    width: 100%;
}

#description{
    width: 100%;
}

.button {
    margin-left: 0.5%;
}

.searchBar{
    margin-bottom: 1%;
}

.updatedIndex{
    width: 10px
}

.updatedIndexInput{
    width: 10px
}
